/*
PALETTE

blue:#003049
red:#D62828
orange:#F77F00
yellow:#FCBF49
white:#EADEB7
white2:#faebbb
*/

/*ANIMATIONS*/
@keyframes fade-in{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    background:#faebbb;
}

.title{
    margin: 15px 15px;
}

.block{
    margin: 15px 25px;
    width: auto;
    background-color: #FCBF49;
}

ul{
    border-left: 5px;
    list-style:inside square;
}